/* body{

    background-color: black;

    color: white;

} */

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 9px !important;
    margin-bottom: -5px;
    list-style: none;
}

.react-slideshow-container+ul.indicators .each-slideshow-indicator:before {

    position: absolute;

    top: 0;

    left: 0;

    width: 7px;

    height: 7px;

    border-radius: 50%;

    content: '';

    background: red;

    text-align: center;

}



