/* body{

    background-color: black;

    color: white;

} */



.react-slideshow-container+ul.indicators .each-slideshow-indicator:before {

    position: absolute;

    top: 0;

    left: 0;

    width: 7px;

    height: 7px;

    border-radius: 50%;

    content: '';

    background: red;

    text-align: center;

}



